@model AirMiles.FrontOffice.Models.Account.ConvertMilesViewModel

@{
    ViewData["Title"] = "Convert Miles";
}

<form method="post" action="/Miles/ConvertMiles" class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap">
                    <div class="cmp-tb-hd">
                        <h1>Convert Miles</h1>
                        <br />
                        <p style="font-size:large">
                            Choose the Amount you want to convert.
                        </p>
                        <hr />
                    </div>
                    <div class="widget-tabs-list">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" id="tab_amount">1 - Choose Miles Amount</a></li>
                            <li><a id="tab_payment">2 - Payment Details</a></li>
                        </ul>
                        <div class="tab-content tab-custom-st">
                            <div id="home" class="tab-pane fade in active">
                                <div class="flex">
                                    <input type="hidden" asp-for="BonusAmount" />
                                    <input type="hidden" asp-for="StatusAmount" />
                                    <div class="priceCard">
                                        <p>@Html.DisplayFor(model => model.BonusAmount)<sup>BonusMiles</sup></p>
                                        <input type="radio" checked="checked" class="i-checks">
                                    </div>
                                    <i id="arrow" class="fa fa-arrow-right"></i>
                                    <div class="priceCard">
                                        <p>@Html.DisplayFor(model => model.StatusAmount)<sup>StatusMiles</sup></p>
                                    </div>
                                </div>
                                <div class="text-success">
                                    @ViewBag.Message
                                </div>
                                <div class="form-example-int mg-t-15">
                                    <a id="btn_continue" class="btn btn-default btn-icon-notika waves-effect" style="background-color: #00c292"><i class="notika-icon notika-right-arrow"></i> Continue</a>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="tab-ctn">
                                    <h4>Credit Card Information</h4>
                                    <div class="form-group ic-cmp-int">
                                        <div class="form-ic-cmp">
                                            <i class="fa fa-credit-card"></i>
                                        </div>
                                        <div class="nk-int-st">
                                            <input type="text" class="form-control" data-mask="9999 9999 9999 9999" placeholder="Credit Card">
                                        </div>

                                        <div class="form-ic-cmp">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="nk-int-st">
                                            <input type="text" class="form-control" placeholder="Full Name">
                                        </div>

                                        <div class="form-ic-cmp">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="nk-int-st">
                                            <input type="text" class="form-control" data-mask="99/9999" placeholder="mm/yyyy">
                                        </div>

                                        <div class="form-ic-cmp">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                        <div class="nk-int-st">
                                            <input type="text" class="form-control" data-mask="999" placeholder="CVC/CVV/CID">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-example-int mg-t-15">
                                        <a id="btn_back" class="btn btn-default btn-icon-notika waves-effect" style="background-color: lightgray; margin-right:10px"><i class="notika-icon notika-left-arrow"></i> Back</a>
                                        <button type="submit" class="btn btn-default btn-icon-notika waves-effect" style="background-color: #00c292">Buy</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<style>

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .priceCard {
        border: 1px solid grey;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 16%;
        align-content: center;
        background-color: ghostwhite;
    }

    #arrow {
        margin-left: 20px;
        margin-right: 20px;
        align-self: center;
    }
    
    .priceCard p {
        color: black;
        font-size: large;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 15px;

    }
    
    .priceCard input {
        margin-right: 10px;
        justify-self: end;
        align-self: center;

    }
</style>

<script type="text/javascript">

    $("#btn_continue").click(function () {

        if ($("input:radio").is(":checked")) {

            $("#tab_amount").removeAttr("data-toggle", "tab");
            $("#tab_amount").removeClass("active");

            $("#tab_payment").attr("data-toggle", "tab");
            $("#tab_payment").attr("href", "#menu1");
            $("#tab_payment").click();
            $("#tab_payment").addClass("active");
        }
        else {
            Swal.fire({
                icon: 'error',
                title: '<h2>Oops...</h2>',
                width: '500px',
                html:
                    '<h4>You must select a value!</h4>'
            })
        }
    });

    $("#btn_back").click(function () {

        $("#tab_amount").attr("data-toggle", "tab");
        $("#tab_amount").attr("href", "#home");
        $("#tab_amount").click();
        $("#tab_amount").addClass("active");

        $("#tab_payment").removeAttr("data-toggle", "tab");
        $("#tab_payment").removeAttr("href", "#menu1");
        $("#tab_payment").removeClass("active");
    });

</script>
