@model AirMiles.FrontOffice.Models.Account.TransferMilesViewModel

@{
    ViewData["Title"] = "Transfer Miles";
}

<form method="post" action="/Miles/TransferMiles" class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap">
                    <div class="cmp-tb-hd">
                        <h1>Transfer Miles</h1>
                        <br />
                        <p style="font-size:large">
                            Choose the Client you want to transfer to.
                        </p>
                        <hr />
                    </div>
                    <div class="text-success">
                        @ViewBag.Message
                    </div>
                    <input type="hidden" asp-for="Amount" />
                    <div class="priceCard">
                        <p>@Html.DisplayFor(model => model.Amount)<sup>Miles</sup></p>
                        <input type="radio" checked="checked" class="i-checks">
                    </div>
                    <div class="form-example-int mg-t-15">
                        <div class="form-group" style="font-size:medium">
                            @Html.DisplayNameFor(model => model.GiftedClientID): <input type="text" placeholder="Ex: 000000000" asp-for="GiftedClientID" />
                        </div>
                    </div>
                    <hr />
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-example-int mg-t-15">
                        <button type="submit" class="btn btn-success notika-btn-success">Transfer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

 <style>

     .priceCard {
         border: 1px solid grey;
         display: grid;
         grid-template-columns: 1fr 1fr;
         max-width: 12%;
         align-content: center;
         background-color: ghostwhite;
     }

         .priceCard p {
             color: black;
             font-size: large;
             font-weight: bold;
             margin-left: 15px;
             margin-top: 15px;
         }

       .priceCard input {
           margin-right:10px;
           justify-self: end;
           align-self:center
       }

</style>
