@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cinel Air Miles</title>
    <!--6
    Journey Template
    http://www.templatemo.com/tm-511-journey
    -->
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/font-awesome-4.7.0/css/font-awesome.min.css">                <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/css/bootstrap.min.css">                                      <!-- Bootstrap style -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/vendors/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/vendors/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/vendors/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/css/templatemo-style.css">                                   <!-- Templatemo style -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="tm-main-content" id="top">
        <div class="tm-top-bar-bg"></div>
        <div class="tm-top-bar">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg narbar-light">
                        <a class="navbar-brand mr-auto" href="#">
                            <img src="~/lib/bootstrap/vendors/img/logo.png" alt="Site logo">
                            Cinel Air Miles
                        </a>
                        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                            <ul class="navbar-nav ml-auto">
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a asp-action="Edit" asp-controller="Account" class="nav-link">Home</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tm-section-2">Info</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- .tm-top-bar -->
    </div>

    <div>
        <div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">
                                    <h1 class="text-uppercase tm-banner-title">Let's begin</h1>
                                    <img src="~/lib/bootstrap/vendors/img/dots-3.png" alt="Dots">
                                    <p class="tm-banner-subtitle">We assist you to choose the best.</p>
                                </div>
                            </div>  <!-- col-xs-12 -->
                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>

            <section class="p-5 tm-container-outer tm-bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                            <h2 class="text-uppercase mb-4">Your <strong>Journey</strong> is our priority</h2>
                            <p>Join today and find amazing destinations all over the world!</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="tm-container-outer" id="tm-section-2">
                <section class="tm-slideshow-section">
                    <div class="tm-slideshow">
                        <img src="~/lib/bootstrap/vendors/img/Miles1.jpg" alt="Image">
                        <img src="~/lib/bootstrap/vendors/img/Miles2.jpg" alt="Image">
                        <img src="~/lib/bootstrap/vendors/img/Miles3.jpg" alt="Image">
                    </div>
                    <div class="tm-slideshow-description tm-bg-primary">
                        <h2 class="">Cinel Air Miles Program</h2>
                        <p>With Cinel Air Miles Program, whenever you fly with us or our Partners, you will receive a special currency in the form of Miles. This in turn allows our prestiged Clients to exclusive bonuses and rewards, including buying Tickets with said currency. Register today to find more!</p>
                    </div>
                </section>
                <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">

                    <div class="tm-right tm-slideshow tm-slideshow-highlight">
                        <img src="~/lib/bootstrap/vendors/img/Travel1.jpg" alt="Image">
                        <img src="~/lib/bootstrap/vendors/img/Travel2.jpg" alt="Image">
                        <img src="~/lib/bootstrap/vendors/img/Travel3.jpg" alt="Image">
                    </div>

                    <div class="tm-slideshow-description tm-slideshow-description-left tm-bg-highlight">
                        <h2 class="">Offers & Promotions</h2>
                        <p>By being a part of Cinel Air Miles Program, you will be eligiable to fantastic promotions and offers. Some promotions are always available, while others are only available in special yearly celebrations, like Christmas and Thanks Evening. Register today to find more!</p>
                    </div>

                </section>
                <section class="tm-slideshow-section">
                    <div class="tm-slideshow">
                        <img src="~/lib/bootstrap/vendors/img/Partner1.jpg" alt="Image">
                        <img src="~/lib/bootstrap/vendors/img/Partner2.jpg" alt="Image">
                        <img src="~/lib/bootstrap/vendors/img/Partner3.jpg" alt="Image">
                    </div>
                    <div class="tm-slideshow-description tm-bg-primary">
                        <h2 class="">Partners</h2>
                        <p>By being a part of Cinel Air Miles Program, you will be able to spend your miles currency on the various services offered by our Partners, at discounted prices. Don´t miss this opportunity and register today to find more!</p>
                    </div>
                </section>
            </div>
            <footer class="tm-container-outer">
                <p class="mb-0">
                    Copyright © <span class="tm-current-year">2018</span> Your Company

                    . Designed by <a rel="nofollow" href="http://www.google.com/+templatemo" target="_parent">Template Mo</a>
                </p>
            </footer>
        </div>
    </div> <!-- .main-content -->
</body>
</html>
<!-- load JS files -->
<script src="~/lib/bootstrap/vendors/js/jquery-1.11.3.min.js"></script>             <!-- jQuery (https://jquery.com/download/) -->
<script src="~/lib/bootstrap/vendors/js/popper.min.js"></script>                    <!-- https://popper.js.org/ -->
<script src="~/lib/bootstrap/vendors/js/bootstrap.min.js"></script>                 <!-- https://getbootstrap.com/ -->
<script src="~/lib/bootstrap/vendors/js/datepicker.min.js"></script>                <!-- https://github.com/qodesmith/datepicker -->
<script src="~/lib/bootstrap/vendors/js/jquery.singlePageNav.min.js"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
<script src="~/lib/bootstrap/vendors/slick/slick.min.js"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
<script src="~/lib/bootstrap/vendors/js/jquery.scrollTo.min.js"></script>           <!-- https://github.com/flesler/jquery.scrollTo -->
<script>
    /* DOM is ready
    ------------------------------------------------*/
    $(function () {

        // Change top navbar on scroll
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 100) {
                $(".tm-top-bar").addClass("active");
            } else {
                $(".tm-top-bar").removeClass("active");
            }
        });
        // Update nav links on scroll
        $('#tm-top-bar').singlePageNav({
            currentClass: 'active',
            offset: 60
        });

        // Close navbar after clicked
        $('.nav-link').click(function () {
            $('#mainNav').removeClass('show');
        });

        // Slick Carousel
        $('.tm-slideshow').slick({
            infinite: true,
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    });
</script>

