@{
    ViewData["Title"] = "Confirm Account";
}

<div class="login-content">
    <!-- Forgot Password -->
    <div class="nk-block toggled">
        <form method="post" class="nk-form" id="form">
            <p class="text-left">Your account has been confirmed! Click the arrow to login.</p>

            <a href="/Account/Login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
        </form>
    </div>
</div>