@model AirMiles.FrontEnd.Models.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="login-content">
    <!-- Forgot Password -->
    <div class="nk-block toggled">
        <form method="post" class="nk-form" id="form">
            <div asp-validation-summary="ModelOnly"></div>
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>

            <div class="input-group">
                <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                <div class="nk-int-st">
                    <input type="text" class="form-control" placeholder="Email Address" asp-for="Email">
                </div>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>

            <a href="javascript:$('#form').submit();" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
        </form>

            <div class="nk-navigation nk-lg-ic rg-ic-stl">
                <a asp-action="Login" asp-controller="Account" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a asp-action="Register" asp-controller="Account" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>
            </div>
    </div>
</div>
