@model AirMiles.Master.Models.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ViewName"] = "Change Password";
}

<div class="card">
    <div class="card-body card-block">

        <!--Old Password-->

        <form method="post" enctype="multipart/form-data">
            @if (ViewData.ModelState.ContainsKey(string.Empty))
            {
                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="form-group">
                <label asp-for="OldPassword" class=" form-control-label"></label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input asp-for="OldPassword" class="form-control">
                </div>
            </div>

            @if (ViewData.ModelState["OldPassword"] != null && ViewData.ModelState["OldPassword"].Errors.Any())
            {
                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                    <span class="badge badge-pill badge-danger">Error</span>
                    <span asp-validation-for="OldPassword"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <!--Old Password End-->
            <!--New Password-->

            <div class="form-group">
                <label asp-for="NewPassword" class=" form-control-label"></label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input asp-for="NewPassword" class="form-control">
                </div>
            </div>

            @if (ViewData.ModelState["NewPassword"] != null && ViewData.ModelState["NewPassword"].Errors.Any())
            {
                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                    <span class="badge badge-pill badge-danger">Error</span>
                    <span asp-validation-for="NewPassword"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <!--New Password End-->
            <!--Confirm Password-->

            <div class="form-group">
                <label asp-for="Confirm" class=" form-control-label"></label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-check"></i></div>
                    <input asp-for="Confirm" class="form-control">
                </div>
            </div>

            @if (ViewData.ModelState["Confirm"] != null && ViewData.ModelState["Confirm"].Errors.Any())
            {
                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                    <span class="badge badge-pill badge-danger">Error</span>
                    <span asp-validation-for="Confirm"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <!--Confirm Password End-->
            <!--Buttons-->

            <div class="card-footer form-group">
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button asp-action="Index" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Cancel
                </button>
            </div>

            <!--ButtonsEnd-->

        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/bootstrap/vendors/chosen/chosen.jquery.min.js"></script>
}
