@model AirMiles.Master.Models.Account.ResetPasswordViewModel
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Confirm Account - AirMiles</title>
    <meta name="description" content="Confirm Account - AirMiles">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="~/lib/bootstrap/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/selectFX/css/cs-skin-elastic.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="~/lib/bootstrap/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form method="post">

                        <!--HiddenInputs-->

                        <input type="hidden" asp-for="UserName" />
                        <input type="hidden" asp-for="Token" />

                        <!--HiddenInputsEnd-->

                        <!--Password-->

                        <div class="form-group">
                            <label>Password</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password...">
                        </div>

                        @if (ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors.Any())
                        {
                            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                <span class="badge badge-pill badge-danger">Error</span>
                                <span asp-validation-for="Password"></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                        <!--PasswordEnd-->

                        <!--ConfirmPassword-->

                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                        </div>

                        @if (ViewData.ModelState["ConfirmPassword"] != null && ViewData.ModelState["ConfirmPassword"].Errors.Any())
                        {
                            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                <span class="badge badge-pill badge-danger">Error</span>
                                <span asp-validation-for="ConfirmPassword"></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                        <!--ConfirmPasswordEnd-->

                        <!--SubmitButton-->

                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Confirm</button>

                        <!--SubmitButtonEnd-->

                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/bootstrap/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/main.js"></script>


</body>

</html>
