@model AirMiles.FrontOffice.Models.Account.RegisterNewClientViewModel

@{
    Layout = null;
}

<!Doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register - AirMiles</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/bootstrap.min.css">
    <!-- font awesome CSS
      ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/font-awesome.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/animate.css">
    <!-- wave CSS
       ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/wave/waves.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/notika-custom-icon.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/style.css">
    <script src="~/lib/ClientTemplate/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/lib/ClientTemplate/js/bootstrap.min.js"></script>
    <!-- Login JS
       ============================================ -->
    <script src="~/lib/ClientTemplate/js/login/login-action.js"></script>
    <!-- Validate CheckBox Selection JS
       ============================================ -->
    <script src="../lib/ClientTemplate/js/checkBoxValidation.js"></script>

</head>
<body>
    <div class="header-top-area" style="background-color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="#"><img src="~/lib/ClientTemplate/img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-content">
        <!-- Register -->
        <div class="nk-block toggled">
            <form method="post" id="form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="nk-form">
                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                        <div class="nk-int-st">
                            <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
                        </div>
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                        <div class="nk-int-st">
                            <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
                        </div>
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                        <div class="nk-int-st">
                            <input type="text" class="form-control" placeholder="Email Address" asp-for="Username">
                        </div>
                    </div>
                    <span asp-validation-for="Username" class="text-danger"></span>

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                        <div class="nk-int-st">
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                        <div class="nk-int-st">
                            <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword">
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <a href="javascript:$('#form').submit();" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
                </div>
                <div>
                    @ViewBag.Message
                </div>
                <div class="nk-navigation rg-ic-stl">
                    <a asp-action="Login" asp-controller="Account" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                    <a asp-action="ForgotPassword" asp-controller="Account" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
                </div>
            </form>
        </div>
    </div>

    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right" style="">
                        <p>
                            Copyright © 2018
                            . All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



