<!Doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - AirMiles</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/bootstrap.min.css">
    <!-- font awesome CSS
      ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/font-awesome.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/animate.css">
    <!-- wave CSS
       ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/wave/waves.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/notika-custom-icon.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/lib/ClientTemplate/css/style.css">
    <script src="~/lib/ClientTemplate/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/lib/ClientTemplate/js/bootstrap.min.js"></script>
    <!-- Login JS
       ============================================ -->
    <script src="~/lib/ClientTemplate/js/login/login-action.js"></script>
    <!-- ValidateCheckBox JS
      ============================================ -->
    <script src="../lib/ClientTemplate/js/checkBoxValidation.js"></script>

</head>
<body>
    <div class="header-top-area" style="background-color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="#"><img src="~/lib/ClientTemplate/img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li>
                            <a href="/Account/Edit"><i class="notika-icon notika-house"></i> Home</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#MilesGo"><i class="notika-icon notika-travel"></i> Cinel Miles&Go</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#MilesStore"><i class="notika-icon notika-dollar"></i> Miles Store</a>
                        </li>
                        <li>
                            <a data-toggle="" href="/Account/Logout"><i class="notika-icon notika-close"></i> Logout</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div class="tab-pane in notika-tab-menu-bg animated flipInX">
                        </div>
                        <div class="tab-pane notika-tab-menu-bg animated flipInX">
                        </div>
                        <div class="tab-pane notika-tab-menu-bg animated flipInX">
                        </div>
                        <div id="MilesGo" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li>
                                    <a href="/Account/BalanceMovements">Balance and Movements</a>
                                </li>
                            </ul>
                        </div>
                        <div id="MilesStore" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li>
                                    <a href="/Account/BuyMiles">Buy Miles</a>
                                </li>
                                <li>
                                    <a href="/Account/TransferMiles">Transfer Miles</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="renderBody">
        @RenderBody()
    </div>
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right" style="">
                        <p>
                            Copyright © 2018
                            . All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>