@{
    Layout = "_Layout";
}

<!-- Bootstrap CSS
           ============================================ -->
<link rel="stylesheet" href="~/lib/ClientTemplate/css/bootstrap.min.css">
<!-- font awesome CSS
  ============================================ -->
<link rel="stylesheet" href="~/lib/ClientTemplate/css/font-awesome.min.css">
<!-- animate CSS
    ============================================ -->
<link rel="stylesheet" href="~/lib/ClientTemplate/css/animate.css">
<!-- Notika icon CSS
    ============================================ -->
<link rel="stylesheet" href="~/lib/ClientTemplate/css/notika-custom-icon.css">
<!-- style CSS
    ============================================ -->
<link rel="stylesheet" href="~/lib/ClientTemplate/css/style.css">
<!-- bootstrap JS
    ============================================ -->
<script src="~/lib/ClientTemplate/js/bootstrap.min.js"></script>
<!-- Login JS
   ============================================ -->
<script src="~/lib/ClientTemplate/js/login/login-action.js"></script>

<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li>
                        <a href="/Account/Details"><i class="notika-icon notika-house"></i> Home</a>
                    </li>
                    <li>
                        <a href="/Account/Reservations"><i class="notika-icon notika-calendar"></i> Reservations</a>
                    </li>
                    <li>
                        <a href="/Account/Notifications"><i class="notika-icon notika-alarm"></i> Notifications</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#MilesGo"><i class="notika-icon notika-travel"></i> Cinel Miles&Go</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#MilesStore"><i class="notika-icon notika-dollar"></i> Miles Store</a>
                    </li>
                    <li>
                        <a data-toggle="" href="/Account/Logout"><i class="notika-icon notika-close"></i> Logout</a>
                    </li>
                </ul>
                <div class="tab-content custom-menu-content">
                    <div class="tab-pane in notika-tab-menu-bg animated flipInX">
                    </div>
                    <div class="tab-pane notika-tab-menu-bg animated flipInX">
                    </div>
                    <div class="tab-pane notika-tab-menu-bg animated flipInX">
                    </div>
                    <div id="MilesGo" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Account/BalanceMovements">Balance and Movements</a>
                            </li>
                            <li>
                                <a href="/Account/MilesCredit">Miles Credit</a>
                            </li>
                            <li>
                                <a href="/Account/MilesCredit">Upgrade with Miles</a>
                            </li>
                            <li>
                                <a href="/Account/MilesCredit">Partners</a>
                            </li>
                        </ul>
                    </div>
                    <div id="MilesStore" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Account/BuyMiles">Buy Miles</a>
                            </li>
                            <li>
                                <a href="/Account/ExtendMiles"> Extend Miles</a>
                            </li>
                            <li>
                                <a href="/Account/ConvertMiles">Convert Miles</a>
                            </li>
                            <li>
                                <a href="/Account/TransferMiles">Transfer Miles</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @RenderBody()
</div>
@RenderSection("scripts", required: false)

